---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |
  Hi, thanks for swinging by!

  I'm Nicolas Castrillon, but you can call me Nico. My background is a bit like a composite material: the matrix is hands-on mechanical design, and the reinforcing fibers are computational methods for engineering analysis.

  I am intrigued by human-centered design methodologies and pasionate about innovation. These drivers are a constant in my work.

  At the [Multiphysics Simulation and Optimization Lab](https://msol.berkeley.edu/) at UC Berkeley, my Ph.D. aids scientists and engineers in industry make sense of novel, complex manufacturing processes with the help of numerical multiphysics simulations, uncertainty quantification, and user-centered design methods. My work has been directly supported by [BASF SE](https://www.basf.com/global/en.html), [Siemens Corp.](https://www.siemens.com/global/en.html), the [Lawrence Livermore National Laboratory](https://www.llnl.gov/), [and Intact Solutions Inc.](https://www.intact-solutions.com/pnp/)

  Previous to graduate school, I was a mechanical design engineer for laundry appliances at GE Appliances in Louisville, KY and for gas turbine power plants at GE Power in Houston, TX. I am also a co-inventor for a [design patent](https://patents.google.com/patent/US20130232810A1/en). Through design for manufacturability principles, I designed parts and assemblies using advanced additive manufacturing methods and traditional fabrication processes.

  I love working in teams with diversity, equity, and inclusion. I was a Develop & Inspire Leader at the GE Hispanic Forum in Houston and I am currently the Corporate Liaison for [LAGSES](https://lagses.berkeley.edu/) at Berkeley. Both are roles where I have brought to life events with executives and recruiters to further the careers of minority members in these organizations.

  Additionally, I am constantly self-educating about my racial biases and redefining my personal intersectionality. I lead a [book club](https://gwe.berkeley.edu/media-club/) spanning LAGSES and the Graduate Women in Engineering (GWE) where students of all walks of life discuss various books and media to spur safe but uncomfortable conversations.

  In my spare time, I am an avid soccer player, a social rock climber, and an adventurous hiker-dad. My wife and I absolutely love watching our baby daughter get a kick out of leaves rustling in the wind!


profile_picture: /images/profile-pictures/Castrillon-Nicolas.jpg

education:
  - institution: University of California, Berkeley
    degree: Ph.D. in Mechanical Engineering
    focus: computational manufacturing
    graduation: May 2022 (expected)
    gpa: 3.78/4.00

  - institution: University of California, Berkeley
    degree: M.S. in Mechanical Engineering
    graduation: Dec 2019
    gpa: 3.78/4.00

  - institution: University of Florida
    degree: B.S. in Mechanical Engineering
    graduation: Dec 2008
    gpa: 3.63/4.00

publications: |
  - Zohdi, T. I., & **Castrillon, N.** (2019). Variability of Targeted Material Thermal Responses to Laser-Induced Heating in Additive Manufacturing. _Journal of Manufacturing Science and Engineering, 141_(8)

  - Taber, A., & **Castrillon, N.** (2020). _Sensitivity Computation of Integral Quantities with Moment Derivatives._ Manuscript submitted for publication

patents: |
  - Coxon, D.J., **Castrillon, N.** and Haney, P.S., General Electric Co, 2013. _Door handle for a washing machine or dryer appliance._ U.S. Patent Application 13/415,091.

experience:
  - company: Intact Solutions Inc.
    industry: multiphysics, R&D engineering simulation software
    position: Research and Development Intern
    period: Summer 2019

  - company: GE Power
    industry: gas turbine power plant solutions
    position: Lead Mechanical Engineer
    period: May 2014 - Aug 2017

  - company: GE Appliances
    industry: consumer laundry products
    position: Drive System Engineer
    period: Aug 2013 - May 2014

  - company: GE Appliances
    industry: consumer laundry products
    position: Structures Engineer
    period: Jan 2009 - Aug 2013

competitions:
  - event: Human-Centered Design Methods
    period: 2020
    result: Most Innovative - Team AW<sup>3</sup>
    link: https://www.behance.net/gallery/108782423/AW3

  - event: Patagonia Case Competition
    period: 2020
    result: Participated - Team War On Waste
    link: https://haas.berkeley.edu/responsible-business/events/patagonia-case-competition/

  - event: Siemens FutureMakers Challenge
    period: 2018
    result: Participated - Team Zohdi Lab
    link: https://new.siemens.com/us/en/company/press/siemens-stories/corporate-technology/the-siemens-futuremakers-fellowships-is-looking-for-the-next-generation-of-high-tech-researchers.html

skills:
  - Design for manufacturability
  - Human-centered design
  - Computational methods
  - CAD drafting

tools:
  - Finite element method
  - Finite difference method
  - Discrete element method
  - PTC Creo
  - GitHub
  - Virtualenv
  - Selective laser sintering 
  - Sheet metal stamping
  - Injection molding
  - Die casting
  - Elastomer extrusion
  - Piping system design
  - High-volume production
  - Final assembly

about_site: |
  - The code for this site is open source and available on
  [GitHub](https://github.com/unicocas/personal-webpage), deployed
  and hosted using GitHub Pages.

  - Although the original webpage code is opensource under the GNU General Public License v3, the original author's content is Copyrighted. [Read more](https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE)
  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Nicolas Castrillon",
    "jobTitle": "Graduate Student",
    "nationality": "Colombian-American",
    "url": "http://ncastrillon.com/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Berkeley",
      "addressCountry": "United States"
    }
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-publications">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">Publications</h3>
        <div class="paragraph-small">{{ page.publications | markdownify }}</div>
      </div>
    </div>

    <div class="about-patents">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">Patents</h3>
        <div class="paragraph-small">{{ page.patents | markdownify }}</div>
      </div>
    </div>

    <div class="about-attributes">
      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.degree | markdownify}}</dt>
              <dt class="relational-list__description">{{ education-item.focus | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.institution | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dt class="relational-list__description">{{ experience-item.industry | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; Technologies</h3>
          <!-- <ul class="list--dashed list--small"> -->
          <ul class="list--dashed">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Competitions</h3>
          <dl class="relational-list">
            {% for competition-item in page.competitions %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description"><a href="{{ competition-item.link }}">{{ competition-item.result | markdownify}}</a></dd>
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">About this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
